.ta {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #dba2;
}

.ab {
  float: left;
}

.ab a {
  display: block;
  color: #000;
  text-align: center;
  font-style: Bold;
  font-family: arial;
  border-radius: 5px;
  padding: 25px;
  text-decoration: none;
}

.ab a:hover {
  background-color: #9c8168;
}
