b {

  color: #869;
  font-family: times;
}

h2 {
  color: #367096;
  font-family: coppler;
  font-size: 30px;
}

.radio {
  padding-left: 70px;
  margin-top: 40px;
  font-family: monospace;
  font-size: 20px;
  border-color: #887;
  border-radius: 10px;
}

h3 {
  color: #423101;
  font-family: courier name;
  font-size: 30px;
  align-content: center;
}

html {
  background: #dba2;
  background-image: url('background.jpg');
}

button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  align-content: center;
  margin-left: 100px;
  font-family: inherit;
  margin-top: 50px;
  color: #000000;
  background-color: #887;
  border-radius: 10px;
}

#message {
  align-content: "center";
  width: 100px;
  font-family: sans-serif;
  margin-bottom: 10px;
  padding-left: 150px;
  height: 50px;
  size: 50px;
  font-size: 20px;
}

ul {
  font-family: monospace;
  margin-left: 50px;
  margin-top: 30px;
  color: #887;
  font-size: 20px;
}

label {
  font-family: monospace;
  font-size: 20px;
  color: #887;
}