h2 {
  font-family: american typewriter;
  font-size: 30px;
  margin-left: 5px;
  color: #467665;
}

span {
  font-family: monospace;
  font-size: 20px;
  margin-left: 5px;
  color: #224433;
  width: 100px;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
}

button {
  background-color: #dba;
  padding: 2px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-top: 400px;
}

html {
  background-image: url('background.jpg')
}
