html {
  background: #dba2;
  background-image: url('background.jpg');
}

h1 {
  color: 467665;
  font-family: courier new;
  font-size: 25px;
}

#messageForm {
  align-content: center;
  border-color: #887;
  border-radius: 10px;
}

button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  align-content: center;
  margin-left: 70px;
  font-family: courier new;
  margin-top: 30px;
  color: #000000;
  background-color: #dba;
  border-radius: 10px;
}

.reset {
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-family: courier new;
  align-content: center;
  margin-left: 50px;
  margin-top: 30px;
  color: #000000;
  background-color: #dba;
  border-radius: 10px;
}

a {
  margin-left: 0px;
  margin-top: 0px;
}
